 .bannerContent {
     padding: 0em 4em;
     background-image:url("./images/Banner4.png");
     background-size:cover;
     height:40em;
     background-repeat:no-repeat;

 }

 .bannerLeft h2 {
     color: var(--mainBlue);
     font-weight:bold;
     text-align: left;
     
 }

 .bannerLeft {
    padding-top:4em;
     width: 80%;
     margin: auto;
     text-align: left;

 }

 .bannerLeft p {
     color: var(--lightBlack);
     margin-top: 2em;
    
     
 }

 .bannerLeft p:nth-last-child(2) {
     margin-top: 2em;
     color: #c71e25;
    
 }

 .Appstore {
     padding-right: 2em;
 }

 .phone {
     width: 100%;
     margin-top: 2em auto;
 }

 .bannerRight {
     margin-top:2em;
     width: 100%;
     text-align: center;

 }

 @media(min-width:993px) and (max-width:1024px){
    .bannerContent {
        background-size:cover;
        height:30em;
    }
    .bannerLeft {
        padding-top:2em;
    }
 }

 @media(max-width:992px) {
     .bannerLeft {
         width: 100%;
         margin: auto;
         padding: 1em 0em;
         text-align: justify;
         ;

     }

     .bannerLeft h3 {
         font-size: 1.5em;
         color: var(--mainBlue);
         text-align:justify;
     }

     .bannerRight {
         width: 100%;
         margin: auto;
         padding: 2em 0em;
     }

     .phone {
         margin: auto;
         width: 100%;
         text-align: center;
         

     }
     .bannerLeft p {
        color: var(--lightBlack);
        margin-top: 1em;
       
        
    }
   
    .bannerLeft p:nth-last-child(2) {
        margin-top: 1em;
        color: #c71e25;
       
    }
    .bannerContent {
        background-size:cover;
        height:25em;
    }
    }
    

     @media(max-width:425px) {
         .bannerLeft {
             padding-top: 2em;
             width:80%;
         }

         .bannerContent {
             padding: 0em;
         }

         .bannerLeft h3 {
             font-size: 2em;
             color: var(--mainBlue);
            
         }

     }

     @media (max-width:375px) {
         .bannerLeft {
            font-size: 1.2em;
             width: 80%;
             text-align:justify;
         }

         .bannerRight {
             width: 100%;
         }

         .Appstore {
             width: 7em;
         }

         .googleApp {
             width: 5em;
         }
     }

 